a {
    color: white;
  }

body {
    background-color: black;
    font-family: "Roboto", sans-serif;
}

.navbar-container {
    display:flex;
    font-family: "Sen", sans-serif;
  }

.logo-container {
    flex: 1;
}

.logo {
    display: flex;
    font-size: 20px;
    color:lawngreen;

  }
  
.menu-container {
    flex: 1;
  }

.menu-list {
    display: flex;
    list-style:none; 
    justify-content:space-around;
  }

  .tribute {
    display: grid;
    grid-template-columns: 1.5fr 0.75fr;
    max-width: 110rem;
    margin: 20px auto;
    background-image: url("https://images.unsplash.com/photo-1601625463687-25541fb72f62?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3540&q=80");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    align-items: center;
    
  }


  * {
    box-sizing: border-box;
  }

  .row {
    display: flex;
    background-image: linear-gradient(grey, black);
  }

  .column {
    flex: 33.33%;
    padding: 7px;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
  }
  
.tribute blockquote {
    font-weight: 250;
    text-align: bottom;
    font-size: 1.6rem;
    margin-bottom: 15rem;
  }
  
.tribute img {
    max-width: 90%;
  }


 .tribute blockquote > h1 {
    margin-bottom: 6rem;
    color: white;
    font-size: 3rem;
    font-weight: 1000;
 }

.test {
    margin-left: 2rem;
    font-size: 1.3rem;
    color: darkorange;
    
}

 .img-text {
    color: grey;
    opacity: 0.5;
    margin-bottom: 2rem;
    text-align: center;
 }


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    background-color: black;
    color: white;
    padding: 120px;
    text-align: center;
  }

/* MEDIA QUERIES FOR IPHONE SCREENS */

  @media screen and (max-width: 375px) {
    .row {
      display: flex;
      flex-direction: column;
    }
  }


